.code.social-media {
    width: min-content;
    /* overflow-x: auto; */
    word-wrap: break-word;
    white-space: pre-wrap;
}

.code.social-media-top {
  font-size: 15px;
  width: min-content;
  white-space: pre;
}

.code.content {
  font-size: 18px;
  min-width: 600px;
  overflow-x: auto;
    width: min-content;
  word-wrap: break-word;
}

body {
  display: inline;
  margin: 0;
  background-color: #000;
}

.code {
    white-space: pre-wrap;
    background-color: #2d2b2d;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3a383a;
}

.text-view > .text-view-inner {
  font-family: IBM Plex Mono,monospace;
}

.text-view {
  color: #fff;
}

.text-view-inner a {
  color: #a9a9a9;
  text-decoration: none;
}

.wc-home-title {
  font-size: 36px;
  text-align: center;
  color: #adff2f;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.text-view-inner hr {
  border-top-color: rgb(45, 43, 45);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(45, 43, 45);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(45, 43, 45);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(45, 43, 45);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.wc-home-title.smaller-subtitle {
  font-size: 20px;
}

.text-view-inner ul {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
  list-style-type: none;
}

.text-view-inner ul > li.flagged {
  color: #ccc;
}

.wc-home-title.hint {
  font-size: 12px;
}

.book-link {
  color: #adff2f;
}

.wc-home-title.footer {
  font-size: 12px
}

.wc-home-title.hint {
  font-size: 12px;
}

/*
.column {
  float: left;
  width: 50%;
}

.column2 {
  float: right;
  width: 50%;
}
*/

.footer {
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-family: IBM Plex Mono,monospace;
}
